# Load libraries and global functions

In [1]:
# analysis
import collections
import random
import math
import pandas as pd
import numpy as np

In [2]:
# data loading
from copy import deepcopy
from pymongo import MongoClient

In [3]:
# code performance
import time
import multiprocessing as mp
from tqdm import tqdm_notebook as tqdm

# Fetch Pairing Data from [pairresearch.io](http://pairresearch.io/)

In [4]:
uri = 'mongodb://delta:delta@ds011419.mlab.com:11419/pair-research'
dbName = 'pair-research'
client = MongoClient(uri)
db = client[dbName]
db.list_collection_names()

['affinities',
 'meteor_accounts_loginServiceConfiguration',
 'tasks_history',
 'groups',
 'users',
 'objectlabs-system.admin.collections',
 'pairs_history',
 'tasks',
 'system.indexes',
 'pairings',
 'objectlabs-system',
 'affinities_history']

In [5]:
groups = pd.DataFrame(list(db.groups.find({})))

# remove testing groups
group_creator_ignore_list = ['Demo Admin', 'ykykykykykykykykykyk', 'Stella', 'Kevin Northwestern',
                             'Kevin Chen', 'Leesha', 'Jennie']
group_ignore_ids = groups[groups['creatorName'].isin(group_creator_ignore_list)]['_id'].unique()

# subset groups by id
groups_orig_size = len(groups)
groups_new_size = 0

groups = groups[~groups['_id'].isin(group_ignore_ids)]
groups.reset_index(drop=True, inplace=True)

# get valid group ids from remaining groups
valid_group_ids = groups['_id'].unique()

# print change in size
groups_new_size = len(groups)
print('Number of Groups \nOriginal size: {} --> New size: {}'.format(groups_orig_size, groups_new_size))

# display task history
groups.head()

Number of Groups
Original size: 618 --> New size: 73

,_id,groupName,description,creatorId,creatorName,roles,creationDate,members,active,activePairing
0,uPLDbfFqqdHEEkgCT,Beatles,Rock and Roll Band,goGr47HDwtfphJ5xK,Julian Vicens,"[{'title': 'Guitar', '_id': 'oB3qMqXdTJNqR6vbZ...",2016-08-10 18:55:16.164,"[{'fullName': 'Julian Vicens', 'userId': 'goGr...",True,NaN
1,Et46F6odTBmiFiDSZ,Knight Lab Testing,Knight Lab taking Pair Research for a spin,NtZ9hv3g6eLAwN2nY,Joe Germuska,"[{'title': 'Admin', '_id': 's2JKkhE9XC6GPW5ev'...",2016-07-18 21:21:54.117,"[{'fullName': 'Joe Germuska', 'userId': 'NtZ9h...",True,nnN46Abcc78AAtqKf
2,kY7xHo6c5m5tCiQMH,Knight Lab Pair Research,Thursdays at 2:30,u2GAvznbx7Jbf97Hk,Emily Withrow,"[{'title': 'Professor', '_id': 'q3PJXDZpMMhcZB...",2016-09-28 19:17:10.709,"[{'fullName': 'Emily Withrow', 'userId': 'u2GA...",False,NaN
3,KEo62WdN5WSkHa9Hh,Knight Lab Pair Research,Thursdays at 2:30,u2GAvznbx7Jbf97Hk,Emily Withrow,"[{'title': 'Professor', '_id': '6L6YwxgDwpqgoY...",2016-09-29 15:15:15.184,"[{'fullName': 'Emily Withrow', 'userId': 'u2GA...",False,NaN
4,qPnf2DHHihugATnxD,Segal Design Cluster,an intellectual community for design faculty a...,PavTL8zD9664wvtfB,Haoqi Zhang,"[{'title': 'Professor', '_id': 'sSNgzD6So2kz95...",2016-11-10 18:38:04.379,"[{'fullName': 'Haoqi Zhang', 'userId': 'PavTL8...",True,52meFWjxGNoAqTJxx

In [6]:
users = pd.DataFrame(list(db.users.find({})))

# users must be in at least one valid group
valid_group_ids_set = set(valid_group_ids)
users['valid_user'] = users['groups'].apply(lambda x: bool(valid_group_ids_set & set([y['groupId'] for y in x])))

# remove invalid users
users_orig_size = len(users)
users_new_size = 0

users = users[users['valid_user']]

# print change in size
users_new_size = len(users)
print('Number of Users \nOriginal size: {} --> New size: {}'.format(users_orig_size, users_new_size))

# display users
users.head()

Number of Users
Original size: 1041 --> New size: 966

,_id,createdAt,services,emails,profile,groups,valid_user
1,BPQ7hyoHgghctHPqq,2016-08-29 18:24:50.295,{'password': {'bcrypt': '$2a$10$1.nd.WyfVggPpg...,"[{'address': 'egerber@northwestern.edu', 'veri...",{'fullName': 'Liz Gerber'},"[{'groupId': '9mdkMmj4pY8Q2TwqF', 'role': {'_i...",True
2,bZEjadPH7KrjM9PfD,2016-11-10 19:19:34.147,{'password': {}},"[{'address': 'ampiper@northwestern.edu', 'veri...",{'fullName': 'ampiper@northwestern.edu'},"[{'groupId': 'qPnf2DHHihugATnxD', 'role': {'_i...",True
5,4nAboBfRx5RMJg68G,2017-03-27 14:33:17.771,{'password': {}},"[{'address': 'g-danko@northwestern.edu', 'veri...",{'fullName': 'g-danko@northwestern.edu'},"[{'groupId': 'u4kjJC55DPMLpR8bC', 'role': {'ti...",True
6,9iEAAD9Y54n4hMy3D,2017-03-27 14:39:27.572,{'password': {}},"[{'address': 'a-prachand@northwestern.edu', 'v...",{'fullName': 'a-prachand@northwestern.edu'},"[{'groupId': 'u4kjJC55DPMLpR8bC', 'role': {'ti...",True
8,Byki6KMawAsYnmr8x,2017-06-01 21:25:16.500,{'password': {}},"[{'address': 'bjoern@eecs.berkeley.edu', 'veri...",{'fullName': 'bjoern@eecs.berkeley.edu'},"[{'groupId': 'je9bo2hHLbYwWNtRd', 'role': {'_i...",True

In [7]:
tasks_history = pd.DataFrame(list(db.tasks_history.find({})))

# remove bad groups
tasks_history_orig_size = len(tasks_history)
tasks_history_new_size = 0

tasks_history = tasks_history[tasks_history['groupId'].isin(valid_group_ids)]
tasks_history.reset_index(drop=True, inplace=True)

# add group_pairing_id
tasks_history['group_pairing_id'] = tasks_history['groupId'] + '-' + tasks_history['pairingId']

# print change in size
tasks_history_new_size = len(tasks_history)
print('Number of Tasks\nOriginal size: {} --> New size: {}'.format(tasks_history_orig_size, tasks_history_new_size))

# display task history
tasks_history.head()

Number of Tasks
Original size: 4144 --> New size: 4132

,_id,name,userId,groupId,task,pairingId,group_pairing_id
0,k4ewZSgDHsvDFkXpX,Yongsung Kim,EDEFWcagLwCfXP5Jg,9mdkMmj4pY8Q2TwqF,i need to send out a short-survey to interviewees,nRAQpsPhsQs4zRvTL,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
1,RZZWR8pABaJBKYNFu,Julian Vicens,goGr47HDwtfphJ5xK,9mdkMmj4pY8Q2TwqF,I would like to talk about different ways to m...,nRAQpsPhsQs4zRvTL,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
2,Xr3dvNreiwzq9ixrQ,Spencer Carlson,vbsF64nAgoitwrNeB,9mdkMmj4pY8Q2TwqF,Make educated guesses about the quality of my ...,nRAQpsPhsQs4zRvTL,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
3,dFpfXT8szHkp2pYgG,Leesha,aNdSTecskgeAm2St5,9mdkMmj4pY8Q2TwqF,I need help planning a latency handling featur...,nRAQpsPhsQs4zRvTL,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL
4,zEMk9HQo9azvKzDye,Eureka Foong,JaEySKdKKg7LAF3Yg,9mdkMmj4pY8Q2TwqF,Installing a program using Terminal (I'm bad a...,nRAQpsPhsQs4zRvTL,9mdkMmj4pY8Q2TwqF-nRAQpsPhsQs4zRvTL

In [8]:
pairings = pd.DataFrame(list(db.pairings.find({})))

# remove bad groups
pairings_orig_size = len(pairings)
pairings_new_size = 0

pairings = pairings[pairings['groupId'].isin(valid_group_ids)]

# add group_pair id
pairings['group_pairing_id'] = pairings['groupId'] + '-' + pairings['_id']
pairings.reset_index(drop=True, inplace=True)

# print change in size
pairings_new_size = len(pairings)
print('Number of Pairing Sessions\nOriginal size: {} --> New size: {}'.format(pairings_orig_size, pairings_new_size))

# display current pairings
print('Pairing count: {}, Unique group count: {}'.format(len(pairings), len(pairings.groupId.unique())))
pairings.sort_values('timestamp', ascending=False, inplace=True)
pairings.head()

Number of Pairing Sessions
Original size: 639 --> New size: 560
Pairing count: 560, Unique group count: 47

,_id,groupId,pairings,timestamp,group_pairing_id
559,d9j8RToxsEuSeHFbS,9mdkMmj4pY8Q2TwqF,"[{'firstUserId': '7yemYfg5RHGKux8YH', 'firstUs...",2019-08-26 20:20:18.939,9mdkMmj4pY8Q2TwqF-d9j8RToxsEuSeHFbS
558,p6e2AFNT3Hap2udwf,9mdkMmj4pY8Q2TwqF,"[{'firstUserId': 'mdhFQ6PNiAhfP7ce2', 'firstUs...",2019-08-21 20:28:38.441,9mdkMmj4pY8Q2TwqF-p6e2AFNT3Hap2udwf
557,2oYh3uMnKpkAdepuF,9mdkMmj4pY8Q2TwqF,"[{'firstUserId': 'aNdSTecskgeAm2St5', 'firstUs...",2019-08-14 20:32:17.057,9mdkMmj4pY8Q2TwqF-2oYh3uMnKpkAdepuF
556,Z5jWjm4txMp9DTt8g,9mdkMmj4pY8Q2TwqF,"[{'firstUserId': 'vbsF64nAgoitwrNeB', 'firstUs...",2019-08-14 20:32:14.247,9mdkMmj4pY8Q2TwqF-Z5jWjm4txMp9DTt8g
555,Sk28TfvSR9sGYfkFS,9mdkMmj4pY8Q2TwqF,"[{'firstUserId': 'zmwK4tJHtwLw8pLRC', 'firstUs...",2019-08-07 20:23:03.568,9mdkMmj4pY8Q2TwqF-Sk28TfvSR9sGYfkFS

In [9]:
pairs_history = pd.DataFrame(list(db.pairs_history.find({})))

# remove bad groups
pairs_history_orig_size = len(pairs_history)
pairs_history_new_size = 0

pairs_history = pairs_history[pairs_history['groupId'].isin(valid_group_ids)]

# add group_pairing_id column
pairs_history['group_pairing_id'] = pairs_history['groupId'] + '-' + pairs_history['pairingId']
pairs_history.reset_index(drop=True, inplace=True)

# print change in size
pairs_history_new_size = len(pairs_history)
print('Number of Pairs\nOriginal size: {} --> New size: {}'.format(pairs_history_orig_size, pairs_history_new_size))

# display current pairs_history
print('Unique group count: {}, Unique pairing count: {}'.format(len(pairs_history.groupId.unique()), 
                                                                len(pairs_history.group_pairing_id.unique())))
pairs_history.sort_values('timestamp', ascending=False, inplace=True)
pairs_history.head(10)

Number of Pairs
Original size: 2924 --> New size: 2916
Unique group count: 47, Unique pairing count: 560

,_id,groupId,pairingId,firstUserId,firstUserName,firstUserRole,secondUserId,secondUserName,secondUserRole,timestamp,group_pairing_id
2915,7dSz5iHisSqRSaoGu,9mdkMmj4pY8Q2TwqF,d9j8RToxsEuSeHFbS,EDEFWcagLwCfXP5Jg,Yongsung Kim,PhD Student,mdhFQ6PNiAhfP7ce2,Kapil Garg,Undergraduate Students,2019-08-26 20:20:18.939,9mdkMmj4pY8Q2TwqF-d9j8RToxsEuSeHFbS
2914,oGWwYPthNc5fibLXn,9mdkMmj4pY8Q2TwqF,d9j8RToxsEuSeHFbS,aNdSTecskgeAm2St5,Leesha,PhD Student,CQhpnQnrAQMZhD9tM,Nell O'Rourke,Faculty,2019-08-26 20:20:18.939,9mdkMmj4pY8Q2TwqF-d9j8RToxsEuSeHFbS
2913,s4aEYqRADEsBFi6ep,9mdkMmj4pY8Q2TwqF,d9j8RToxsEuSeHFbS,LXTzT8KpQBpyQdXBD,Gobi Dasu,PhD Student,zmwK4tJHtwLw8pLRC,Garrett,PhD Student,2019-08-26 20:20:18.939,9mdkMmj4pY8Q2TwqF-d9j8RToxsEuSeHFbS
2912,AXsgTHYfBtDQYbhRS,9mdkMmj4pY8Q2TwqF,d9j8RToxsEuSeHFbS,MJkj24zXWKhnZQCc3,Daniel George Rees Lewis,PhD Student,5xGiqobbhPEJMLNrh,Armaan Dhingra,Undergraduate Students,2019-08-26 20:20:18.939,9mdkMmj4pY8Q2TwqF-d9j8RToxsEuSeHFbS
2911,kBCgkFHyA36aYWhJh,9mdkMmj4pY8Q2TwqF,d9j8RToxsEuSeHFbS,7yemYfg5RHGKux8YH,Nick LaGrassa,PhD Student,JaEySKdKKg7LAF3Yg,Eureka Foong,PhD Student,2019-08-26 20:20:18.939,9mdkMmj4pY8Q2TwqF-d9j8RToxsEuSeHFbS
2907,Jwie4JCAc6CDZT47i,9mdkMmj4pY8Q2TwqF,p6e2AFNT3Hap2udwf,6iR9Z64HEJDcD8qbu,Matt Easterday,Faculty,vbsF64nAgoitwrNeB,Spencer Carlson,PhD Student,2019-08-21 20:28:38.441,9mdkMmj4pY8Q2TwqF-p6e2AFNT3Hap2udwf
2903,HE8Ls2AHqj5AnrXxH,9mdkMmj4pY8Q2TwqF,p6e2AFNT3Hap2udwf,mdhFQ6PNiAhfP7ce2,Kapil Garg,Undergraduate Students,zmwK4tJHtwLw8pLRC,Garrett,PhD Student,2019-08-21 20:28:38.441,9mdkMmj4pY8Q2TwqF-p6e2AFNT3Hap2udwf
2905,EsGMop3zoaQ5KrBt7,9mdkMmj4pY8Q2TwqF,p6e2AFNT3Hap2udwf,aNdSTecskgeAm2St5,Leesha,PhD Student,JaEySKdKKg7LAF3Yg,Eureka Foong,PhD Student,2019-08-21 20:28:38.441,9mdkMmj4pY8Q2TwqF-p6e2AFNT3Hap2udwf
2906,KpiMt9CaC7XDxX8dm,9mdkMmj4pY8Q2TwqF,p6e2AFNT3Hap2udwf,EDEFWcagLwCfXP5Jg,Yongsung Kim,PhD Student,CQhpnQnrAQMZhD9tM,Nell O'Rourke,Faculty,2019-08-21 20:28:38.441,9mdkMmj4pY8Q2TwqF-p6e2AFNT3Hap2udwf
2904,BLqbnYmRkqo2tysfL,9mdkMmj4pY8Q2TwqF,p6e2AFNT3Hap2udwf,BPQ7hyoHgghctHPqq,Liz Gerber,Faculty,LXTzT8KpQBpyQdXBD,Gobi Dasu,PhD Student,2019-08-21 20:28:38.441,9mdkMmj4pY8Q2TwqF-p6e2AFNT3Hap2udwf

In [10]:
tasks = pd.DataFrame(list(db.tasks.find({})))

# remove bad groups
tasks_orig_size = len(tasks)
tasks_new_size = 0

tasks = tasks[tasks['groupId'].isin(valid_group_ids)]
tasks.reset_index(drop=True, inplace=True)

# print change in size
tasks_new_size = len(tasks)
print('Number of Tasks\nOriginal size: {} --> New size: {}'.format(tasks_orig_size, tasks_new_size))

# display current tasks
tasks.head()

Number of Tasks
Original size: 1163 --> New size: 744

,_id,name,userId,groupId,task
0,qSPQiuE42yMiZJYrM,Joe Germuska,NtZ9hv3g6eLAwN2nY,Et46F6odTBmiFiDSZ,NaN
1,9ZtF3iuf2Gs273Nq6,wise@northwestern.edu,c2bWRsNjfijQtq6pN,Et46F6odTBmiFiDSZ,NaN
2,36BHem3sZ7vPesS9v,e-withrow@northwestern.edu,u2GAvznbx7Jbf97Hk,Et46F6odTBmiFiDSZ,NaN
3,fYA2q2QAaahrvym9N,Julian Vicens,goGr47HDwtfphJ5xK,uPLDbfFqqdHEEkgCT,NaN
4,pDv2qxmc3Qtgi5msk,rebecca.poulson@northwestern.edu,WTKxXpLuJAnDfgvFH,Et46F6odTBmiFiDSZ,NaN

In [11]:
affinities = pd.DataFrame(list(db.affinities.find({})))

# remove bad groups
affinities_orig_size = len(affinities)
affinities_new_size = 0

affinities = affinities[affinities['groupId'].isin(valid_group_ids)]
affinities.reset_index(drop=True, inplace=True)

# print change in size
affinities_new_size = len(affinities)
print('Number of Current Affinities\nOriginal size: {} --> New size: {}'.format(affinities_orig_size, affinities_new_size))

# display current affinities
affinities.head()

Number of Current Affinities
Original size: 3272 --> New size: 1865

,_id,helperId,helpeeId,groupId,value
0,CBAFDuJRt4PCqMFbi,u2GAvznbx7Jbf97Hk,WTKxXpLuJAnDfgvFH,Et46F6odTBmiFiDSZ,1.00
1,sn3M9GLYLwxrdNuLf,dKco6yw8vaxbGpdrr,WTKxXpLuJAnDfgvFH,Et46F6odTBmiFiDSZ,-1.00
2,QTWuMLM39mmfKyqqk,WTKxXpLuJAnDfgvFH,dKco6yw8vaxbGpdrr,Et46F6odTBmiFiDSZ,0.33
3,cQAeZBQdFyagMjJbJ,dKco6yw8vaxbGpdrr,u2GAvznbx7Jbf97Hk,Et46F6odTBmiFiDSZ,1.00
4,zTpAK9XCN7p2Ea6Pg,u2GAvznbx7Jbf97Hk,dKco6yw8vaxbGpdrr,Et46F6odTBmiFiDSZ,1.00

In [12]:
affinities_history = pd.DataFrame(list(db.affinities_history.find({})))

# remove bad groups
affinities_history_orig_size = len(affinities_history)
affinities_history_new_size = 0

affinities_history = affinities_history[affinities_history['groupId'].isin(valid_group_ids)]

# add group_pairing_id column
affinities_history['group_pairing_id'] = affinities_history['groupId'] + '-' + affinities_history['pairingId']

# remove duplicate ratings
affinities_history.sort_values(['group_pairing_id', 'helpeeId', 'helperId'], inplace=True)
affinities_history.drop_duplicates(subset=['group_pairing_id', 'helpeeId', 'helperId'], keep='last', inplace=True)
affinities_history.reset_index(drop=True, inplace=True)

# print change in size
affinities_history_new_size = len(affinities_history)
print('Number of Past Affinities\nOriginal size: {} --> New size: {}'.format(affinities_history_orig_size, affinities_history_new_size))

# display affinity data
print('Unique Group Pairings: {}'.format(len(affinities_history.group_pairing_id.unique())))
affinities_history.head()

Number of Past Affinities
Original size: 49908 --> New size: 49638
Unique Group Pairings: 542

,_id,helperId,helpeeId,groupId,value,pairingId,group_pairing_id
0,v3nKkg77Jouf6BZ8G,GLTz7m8y7RqZCYzxx,3si95Pn6NjXTxCWcT,2rFoGTfRa9LFdpQNA,0.33,2EPbA6HkydPTdxCWD,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
1,D2kBQDRftmygv5f4L,PWufwHDsbRaw4se4X,3si95Pn6NjXTxCWcT,2rFoGTfRa9LFdpQNA,1.00,2EPbA6HkydPTdxCWD,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
2,R588B5nqLhmLbC4iW,f8wwqTXaifkxxoAc2,3si95Pn6NjXTxCWcT,2rFoGTfRa9LFdpQNA,0.00,2EPbA6HkydPTdxCWD,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
3,poiynLy2tnCMNzdGf,iyRaCwz7QzxPRSi5t,3si95Pn6NjXTxCWcT,2rFoGTfRa9LFdpQNA,1.00,2EPbA6HkydPTdxCWD,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD
4,KmiSFQicDRa263Nfc,kEZXdjhfohiGxJWdu,3si95Pn6NjXTxCWcT,2rFoGTfRa9LFdpQNA,-1.00,2EPbA6HkydPTdxCWD,2rFoGTfRa9LFdpQNA-2EPbA6HkydPTdxCWD

# Cleaning Data
Make sure all pairing sessions are valid. A valid pairing session from the `pairings` table for a group-pairing ID will have $n$ members in the 'pairings' column. 

It must also have:
1. $\frac{n}{2}$ pairs in the 'pairings' column of the `pairings` table for that group-pairing ID entry.
2. $\frac{n}{2}$ rows in the `pairs_history` table for rows with the same group-pairing ID entry.
3. $n$ tasks in the `tasks_history` table for rows with the same group-pairing ID entry.

Ideally, data should have the following, but these are not guaranteed since users may not report affinities for all users in the current pool.
4. $n*(n - 1)$ total affinities in the `affinities_history` table for rows with the same group-pairing ID entry.
5. $n - 1$ affinities per person in the `affinities_history` table for rows with the same group-pairing ID entry.

## TODO
- Unchecked edge case: when pair research doesn't pair everyone given an even number of users
- Plot when different kinds of conditions are breaking as a bar plot (aggregate), and a timeseries plot (trend) to show if phenomena is ongoing

## Determine invalid group-pairing sessions

In [13]:
def count_members_in_pairing(pairing):
    """
    Counts number of members in a pairing.
    
    Input:
        pairing (list of dicts): pairings between members as lists of dicts.
    
    Output:
        (int): number of people in the pairing.
    """
    count = 0
    for pair in pairing:
        if 'firstUserId' in pair and pair['firstUserId'] is not None:
            count += 1
        if 'secondUserId' in pair and pair['secondUserId'] is not None:
            count += 1
            
    return count

In [14]:
def validate_pairing(group_pairing_id, debug=False):
    """
    Validates that all data for a pairing is good.
    
    A valid pairing with n particpants for a given group_pairing_id meets the following conditions:
    1. n/2 pairs in the 'pairings' column of the `pairings` table for that group_pairing_id entry.
    2. n/2 rows in the `pairs_history` table for rows with the same group_pairing_id entry.
    3. n tasks in the `tasks_history` table for rows with the same group_pairing_id entry.
    
    Input:
        group_pairing_id (string): pairing session for group to validate.
        debug (bool): optional parameter to print whenever invalid session is detected.
        
    Output:
        (bool): whether pairing is valid
        (list of string): conditions failed in check
    """
    # get the pairing and number of users
    curr_pairing = pairings.query("group_pairing_id == @group_pairing_id").iloc[0]['pairings']
    n = count_members_in_pairing(curr_pairing)
    pairs_count = math.ceil(n / 2)
    
    # store each condition check
    condition_checks = [False for x in range(3)]
    
    # check condition 1
    condition_checks[0] = len(curr_pairing) == pairs_count
    
    # check condition 2
    condition_checks[1] = len(pairs_history.query("group_pairing_id == @group_pairing_id")) == pairs_count
    
    # check condition 3
    temp_tasks_history = tasks_history.query("group_pairing_id == @group_pairing_id").copy(deep=True)
    if len(temp_tasks_history) > 0:
        temp_tasks_history['group_pairing_user_id'] = temp_tasks_history.apply(lambda x: '{}-{}-{}'.format(x['groupId'], x['pairingId'], x['userId']), axis=1)
        temp_tasks_history.drop_duplicates(['group_pairing_user_id'], keep=False, inplace=True)
        condition_checks[2] = len(temp_tasks_history) == n
    
    # return checks
    all_conds_valid = all(condition_checks)
    failed_conds = None
    
    if not all_conds_valid:
        failed_conds = [str(index + 1) for index, condition in enumerate(condition_checks) if not condition]
        
        if debug:
            print('Invalid Group-Pairing Session: {} | Check Conditions Failed: {}'.format(group_pairing_id, ', '.join(failed_conds)))

    return all_conds_valid, failed_conds

In [15]:
# get group
group_pairing_ids = pairings['group_pairing_id'].unique()
group_pairing_ids.sort()

# collect all invalid group-pairing sessions
invalid_group_pairings = pd.DataFrame({
    'group_pairing_id': [],
    'group_id': [],
    'pairing_id': [],
    'conditions_failed': [],
    'user_count': [],
    'task_count': [],
    'expected_task_count': [],
    'pairing_count': [],
    'expected_pairing_count': [],
    'pairs_hist_count': [],
    'expected_pairs_hist_count': [],
    'affinity_count': [],
    'expected_affinity_count': []
})

for curr_id in tqdm(group_pairing_ids):
    curr_group_id, curr_pairing_id = curr_id.split('-')
    is_valid_pairing, conditions_failed = validate_pairing(curr_id)
    
    if not is_valid_pairing:
        n = count_members_in_pairing(pairings.query("group_pairing_id == @curr_id").iloc[0]['pairings'])
        
        invalid_group_pairings = invalid_group_pairings.append({
            'group_pairing_id': curr_id,
            'group_id': curr_group_id,
            'pairing_id': curr_pairing_id,
            'conditions_failed': conditions_failed,
            'user_count': n,
            'task_count': len(tasks_history.query("group_pairing_id == @curr_id")),
            'expected_task_count': n,
            'pairing_count': len(pairings.query("group_pairing_id == @curr_id").iloc[0]['pairings']),
            'expected_pairing_count': math.ceil(n / 2),
            'pairs_hist_count': len(pairs_history.query("group_pairing_id == @curr_id")),
            'expected_pairs_hist_count': math.ceil(n / 2),
            'affinity_count': len(affinities_history.query("group_pairing_id == @curr_id")),
            'expected_affinity_count': n * (n - 1)
        }, ignore_index=True)
        
invalid_group_pairings.sort_values('conditions_failed', inplace=True)
invalid_group_pairings.reset_index(drop=True, inplace=True)
invalid_group_pairings.head()

HBox(children=(IntProgress(value=0, max=560), HTML(value='')))

,group_pairing_id,group_id,pairing_id,conditions_failed,user_count,task_count,expected_task_count,pairing_count,expected_pairing_count,pairs_hist_count,expected_pairs_hist_count,affinity_count,expected_affinity_count
0,cToFEbgXcFbrKsSrj-o33KWpqZFwSNt3tDe,cToFEbgXcFbrKsSrj,o33KWpqZFwSNt3tDe,"[1, 2]",10.0,10.0,10.0,6.0,5.0,6.0,5.0,69.0,90.0
1,BibLRuKtNNv7QEDqb-jdfB7xy4iuaG66yiZ,BibLRuKtNNv7QEDqb,jdfB7xy4iuaG66yiZ,"[1, 2]",8.0,8.0,8.0,5.0,4.0,5.0,4.0,49.0,56.0
2,BibLRuKtNNv7QEDqb-YuHJWnrgg2prjPjRp,BibLRuKtNNv7QEDqb,YuHJWnrgg2prjPjRp,"[1, 2]",4.0,4.0,4.0,3.0,2.0,3.0,2.0,8.0,12.0
3,BibLRuKtNNv7QEDqb-QewbaRfokgfMFiD5C,BibLRuKtNNv7QEDqb,QewbaRfokgfMFiD5C,"[1, 2]",18.0,18.0,18.0,10.0,9.0,10.0,9.0,306.0,306.0
4,BibLRuKtNNv7QEDqb-Q9qoS4WQTWAEw47NH,BibLRuKtNNv7QEDqb,Q9qoS4WQTWAEw47NH,"[1, 2]",4.0,4.0,4.0,3.0,2.0,3.0,2.0,12.0,12.0

In [16]:
invalid_group_pairings[invalid_group_pairings.conditions_failed.apply(lambda x: '3' in x)].head()

,group_pairing_id,group_id,pairing_id,conditions_failed,user_count,task_count,expected_task_count,pairing_count,expected_pairing_count,pairs_hist_count,expected_pairs_hist_count,affinity_count,expected_affinity_count
18,fduEdDA8nk5ybcYze-GjXnW5cj2SE8rzNCJ,fduEdDA8nk5ybcYze,GjXnW5cj2SE8rzNCJ,"[1, 2, 3]",3.0,0.0,3.0,3.0,2.0,3.0,2.0,6.0,6.0
19,fduEdDA8nk5ybcYze-vyrrtwEpzzRqCACxi,fduEdDA8nk5ybcYze,vyrrtwEpzzRqCACxi,"[1, 2, 3]",3.0,0.0,3.0,3.0,2.0,3.0,2.0,6.0,6.0
20,FmHT4pnqrPXzCLCmE-EbjzaxZ6wADuYQKqq,FmHT4pnqrPXzCLCmE,EbjzaxZ6wADuYQKqq,"[1, 2, 3]",2.0,0.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0
21,cToFEbgXcFbrKsSrj-kTtxafCNsKoqsnhCt,cToFEbgXcFbrKsSrj,kTtxafCNsKoqsnhCt,"[1, 2, 3]",14.0,7.0,14.0,8.0,7.0,8.0,7.0,131.0,182.0
22,tAC6QTAqiEgFRpHMj-7JhveY48LSxc8s87j,tAC6QTAqiEgFRpHMj,7JhveY48LSxc8s87j,"[1, 2, 3]",2.0,0.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0

## Filter out invalid pairing sessions

In [17]:
def remove_invalid_sessions(df, df_name, exclusion_list):
    """
    Removes invalid group-pairing session ids from dataframe.
    
    Input:
        df (pandas dataframe): dataframe to remove group-pairing sessions from.
        df_name (string): name of data frame.
        exclusion_list (list of strings): group_pairing_ids to remove from df.
        
    Output:
        (pandas dataframe): cleaned dataframe
    """
    # track size for printing
    orig_size = len(df)
    new_size = 0
    
    # clean data
    df = df[~df['group_pairing_id'].isin(exclusion_list)]
    df.reset_index(drop=True, inplace=True)
    new_size = len(df)
    
    # print change in size
    print('{} Cleaning \nOrig Size: {} ==> New Size: {}'.format(df_name, orig_size, new_size), end='\n\n')
    
    # return cleaned df
    return df

In [18]:
invalid_group_pairing_ids_list = list(invalid_group_pairings['group_pairing_id'].unique())

In [19]:
tasks_history = remove_invalid_sessions(tasks_history, 'tasks_history', invalid_group_pairing_ids_list)
pairings = remove_invalid_sessions(pairings, 'pairings', invalid_group_pairing_ids_list)
pairs_history = remove_invalid_sessions(pairs_history, 'pairs_history', invalid_group_pairing_ids_list)
affinities_history = remove_invalid_sessions(affinities_history, 'affinities_history', invalid_group_pairing_ids_list)

tasks_history Cleaning
Orig Size: 4132 ==> New Size: 3683

pairings Cleaning
Orig Size: 560 ==> New Size: 365

pairs_history Cleaning
Orig Size: 2916 ==> New Size: 1944

affinities_history Cleaning
Orig Size: 49638 ==> New Size: 35130

# Isolate DTR Pairing Data
TODO: there's still a lot of nan's here. Investigate why that's the case. (hmm, seems like its not bi-directional currently --> need to duplicate pairs history in the other direction)

In [20]:
dtr_group_id = 'sM3z5FkZfsABqcj3g'

In [21]:
# create initial filters on the data for DTR only
dtr_pairs_history = pairs_history.query("groupId == @dtr_group_id").reset_index(drop=True)
dtr_pairs_history = dtr_pairs_history[['group_pairing_id',
                                       'firstUserId', 'firstUserName', 'secondUserId', 'secondUserName']]

dtr_task_history = tasks_history.query("groupId == @dtr_group_id").drop_duplicates(['task', 'userId', 'group_pairing_id']).reset_index(drop=True)
dtr_task_history = dtr_task_history[['group_pairing_id', 'userId', 'task']]

dtr_affinities_history = affinities_history.query("groupId == @dtr_group_id").reset_index(drop=True)
dtr_affinities_history = dtr_affinities_history[['group_pairing_id', 'helpeeId', 'helperId', 'value']]

In [22]:
# duplicate pairs data for non-nan entries
dtr_pairs_history_dup = dtr_pairs_history[~dtr_pairs_history['secondUserId'].isnull()]
dtr_pairs_history_dup = dtr_pairs_history_dup[['group_pairing_id', 'secondUserId', 'secondUserName', 'firstUserId', 'firstUserName']]
dtr_pairs_history_dup.columns = ['group_pairing_id', 'helperId', 'helperName', 'helpeeId', 'helpeeName']

# combine back with original dtr_pairs_history df
dtr_pairs_history.columns = ['group_pairing_id', 'helperId', 'helperName', 'helpeeId', 'helpeeName']
dtr_pairs_history = dtr_pairs_history.append(dtr_pairs_history_dup, ignore_index=True)

In [23]:
dtr_pairs_history = dtr_pairs_history.sort_values(['group_pairing_id', 'helperId']).reset_index(drop=True)
dtr_pairs_history.head(10)

,group_pairing_id,helperId,helperName,helpeeId,helpeeName
0,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,3cb7eEv3gY3xiBCk7,Daniel Zhu,HnvDuWqAnAqHbXxLT,Sanfeng Wang
1,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,5EJncSsf5AStw6maE,Nneoma Oradiegwu,Z68eenXDt84czPkmN,Ryan Louie
2,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9Wcpa2nSnEX8k7kMN,Maggie Lou,afyZT6q2HepoCS76m,Caroline Grace Alexander
3,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9gcjpT4daYZmZDi2F,Armaan Shah,zmwK4tJHtwLw8pLRC,Garrett
4,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,B7WvGLW2sdRNE3Dn4,Gino Wang,NaN,NaN
5,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,ELhxEagk6f9zZB5S3,David Latimore,XYJc5ag7XK5m8P5cd,Maxine Whitely
6,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,HnvDuWqAnAqHbXxLT,Sanfeng Wang,3cb7eEv3gY3xiBCk7,Daniel Zhu
7,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,LG96v2nkrkJhWstC4,Olivia Barnett,aNdSTecskgeAm2St5,Leesha
8,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,N2ZQJJLByPFP2DA2S,Samuel Naser,PqHjaxzy7KijCWRjm,Andrew Finke
9,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,PqHjaxzy7KijCWRjm,Andrew Finke,N2ZQJJLByPFP2DA2S,Samuel Naser

In [24]:
# add task requests made by the helpee
dtr_pairs_tasks = dtr_pairs_history.merge(dtr_task_history,
                                       left_on=['group_pairing_id', 'helpeeId'],
                                       right_on=['group_pairing_id', 'userId'],
                                       how='left')
del dtr_pairs_tasks['userId']
dtr_pairs_tasks.head()

,group_pairing_id,helperId,helperName,helpeeId,helpeeName,task
0,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,3cb7eEv3gY3xiBCk7,Daniel Zhu,HnvDuWqAnAqHbXxLT,Sanfeng Wang,I need help with organizing and testing a stud...
1,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,5EJncSsf5AStw6maE,Nneoma Oradiegwu,Z68eenXDt84czPkmN,Ryan Louie,If you are participating in the collective exp...
2,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9Wcpa2nSnEX8k7kMN,Maggie Lou,afyZT6q2HepoCS76m,Caroline Grace Alexander,Develop protocol on how to analyze my videos
3,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9gcjpT4daYZmZDi2F,Armaan Shah,zmwK4tJHtwLw8pLRC,Garrett,I need to start writing a presentation for Del...
4,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,B7WvGLW2sdRNE3Dn4,Gino Wang,NaN,NaN,NaN

In [25]:
# add helper's ability to help
dtr_pairs_tasks_affinities = dtr_pairs_tasks.merge(dtr_affinities_history,
                                                   left_on=['group_pairing_id', 'helperId', 'helpeeId'],
                                                   right_on=['group_pairing_id', 'helperId', 'helpeeId'],
                                                   how='left')
dtr_pairs_tasks_affinities.loc[(~dtr_pairs_tasks_affinities['helpeeId'].isnull()) & (dtr_pairs_tasks_affinities['value'].isnull()), 'value'] = 0
dtr_pairs_tasks_affinities.head()

,group_pairing_id,helperId,helperName,helpeeId,helpeeName,task,value
0,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,3cb7eEv3gY3xiBCk7,Daniel Zhu,HnvDuWqAnAqHbXxLT,Sanfeng Wang,I need help with organizing and testing a stud...,0.66
1,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,5EJncSsf5AStw6maE,Nneoma Oradiegwu,Z68eenXDt84czPkmN,Ryan Louie,If you are participating in the collective exp...,0.66
2,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9Wcpa2nSnEX8k7kMN,Maggie Lou,afyZT6q2HepoCS76m,Caroline Grace Alexander,Develop protocol on how to analyze my videos,0.33
3,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9gcjpT4daYZmZDi2F,Armaan Shah,zmwK4tJHtwLw8pLRC,Garrett,I need to start writing a presentation for Del...,0.66
4,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,B7WvGLW2sdRNE3Dn4,Gino Wang,NaN,NaN,NaN,NaN

In [26]:
# replace values with 1 - 5
value_mappings = {
    '-1.0': 1,
    '0.0':  2,
    '0.33': 3,
    '0.66': 4,
    '1.0':  5
}

dtr_pairs_tasks_affinities['value'] = dtr_pairs_tasks_affinities['value'].astype(str)
dtr_pairs_tasks_affinities.replace({'value': value_mappings}, inplace=True)

# replace names
name_mappings = {
    'richardhuang2019@u.northwestern.edu': 'Richard Huang',
    'AlainaKafkes2017@u.northwestern.edu': 'Alaina Kafkes',
    'judylee2021@u.northwestern.edu': 'Judy Lee',
    'Leesha': 'Leesha Maliakal',
    'andrew': 'Andrew Finke',
    'Garrett': 'Garrett Hedman'
}
dtr_pairs_tasks_affinities.replace({'helperName': name_mappings, 'helpeeName': name_mappings}, inplace=True)

# more intutive column names
dtr_pairs_tasks_affinities.rename(columns={'task': 'helpeeRequest', 'value': 'helperAbilityToHelp'}, inplace=True)

In [27]:
dtr_pairs_tasks_affinities.head(10)

,group_pairing_id,helperId,helperName,helpeeId,helpeeName,helpeeRequest,helperAbilityToHelp
0,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,3cb7eEv3gY3xiBCk7,Daniel Zhu,HnvDuWqAnAqHbXxLT,Sanfeng Wang,I need help with organizing and testing a stud...,4
1,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,5EJncSsf5AStw6maE,Nneoma Oradiegwu,Z68eenXDt84czPkmN,Ryan Louie,If you are participating in the collective exp...,4
2,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9Wcpa2nSnEX8k7kMN,Maggie Lou,afyZT6q2HepoCS76m,Caroline Grace Alexander,Develop protocol on how to analyze my videos,3
3,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,9gcjpT4daYZmZDi2F,Armaan Shah,zmwK4tJHtwLw8pLRC,Garrett Hedman,I need to start writing a presentation for Del...,4
4,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,B7WvGLW2sdRNE3Dn4,Gino Wang,NaN,NaN,NaN,nan
5,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,ELhxEagk6f9zZB5S3,David Latimore,XYJc5ag7XK5m8P5cd,Maxine Whitely,Show me how you use your canvas in new and exc...,2
6,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,HnvDuWqAnAqHbXxLT,Sanfeng Wang,3cb7eEv3gY3xiBCk7,Daniel Zhu,Could someone go through my research canvas wi...,4
7,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,LG96v2nkrkJhWstC4,Olivia Barnett,aNdSTecskgeAm2St5,Leesha Maliakal,help me debug an issue with deploying a node s...,2
8,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,N2ZQJJLByPFP2DA2S,Samuel Naser,PqHjaxzy7KijCWRjm,Andrew Finke,Make sure I don't make any spelling / grammar ...,5
9,sM3z5FkZfsABqcj3g-2CgSkRTMERna4KKdX,PqHjaxzy7KijCWRjm,Andrew Finke,N2ZQJJLByPFP2DA2S,Samuel Naser,Somebody who installed Caffeine Rush to user t...,4

In [28]:
# remove nans for initial analysis, and save out csv
dtr_pairs_tasks_affinities.dropna(how='any',axis=0).to_csv('./documents/dtr-pair-research-pairings.csv',
                                                           index=False)